DISCORD_TOKEN=
BOT_OWNER_ID=1153034319271559328
HELPER_SKU_ID=
ALERTS_BOT_ID=justthehelper
OPS_GUILD_ID=
OPS_ERROR_CHANNEL_ID=
OPS_ANALYTICS_CHANNEL_ID=
OPS_SUPPORT_CHANNEL_ID=
OPS_ALERT_USER_ID=1153034319271559328
PORT=3000
